#cookie_container {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0;
	z-index: 999; 
	padding: 10px;
}

.cookie_inner {
	width: 90%;
	max-width: 1130px;
	margin: 0 auto;
}

.cookie_inner p {
	margin: 0;
	padding-top: 4px;
}

#setCookie {
	float: right;
	padding: 5px 10px;
	text-decoration: none;
}

#setCookie:hover {
	background-color: #AAAAAA !important;
	color: #000000 !important;
}
